# Lab 7.04

## One tailed t-test

In [20]:
import pandas as pd
import scipy.stats as st

In [18]:
# I can't open machine.txt, so I've decided to create the same dataframe (as it was a very short file)
machine = pd.DataFrame({"New machine":[42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7], "Old machine":[42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]})
machine

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [21]:
st.ttest_ind(machine['New machine'], machine['Old machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

the p-value < 0.05 indicates that both machines are differents.
the negative statistic indicates that the New machine has lower times, so it is faster than the old one.

## Matched Pairs Test

In [22]:
data = pd.read_csv('files_for_lab/pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [23]:
st.ttest_rel(data['Attack'], data['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# H0: both columns are equal
# the very low p-value value indicates that we can reject H0: both columns are different
# positive statistic value indicates that Attack > Deffense